/* varibales globales */

$gray-color : #f9f9f9;
$black-gray-color:#8f8f8f;
$dark-gray-color: #606060;
$align: center ;
$float-L: left;
$float-R: right;
$width-content: 40%;
$border: 36px solid #d1d9dd;