@media(max-width:1612px){
    .content-2-box {
        width: 100%;
    }
    .p-1 {
        font-size: 2.625rem;
        font-weight: normal;
        margin-left: 28.31%;
        margin-top: 0;
        margin-top: 10%;
    }
    .parrafo-3 {
        padding-bottom: 2.5%;
    }
    .parrafo-4 {
        padding-bottom: 3.8%;
    }
    
    .p-2{
        font-size: 50px;
        margin-left: 37.18%;
    }

    .puntos2 {
        margin-left: 20.75%;
        margin-bottom: 0;
        margin-left: 48.75%;
    }

    .content-2-img img {
        max-width: 100%;
        width: 100%;
    }

    .content-2-img {
        width: 100%;
        float: none;
    }

    .column-1{
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    .column-2{
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    .parrafo-1{
        border: none;
    }

    .parrafo-2{
        border: none;
    }

    .parrafo-3{
        border: none;
    }

    .parrafo-4{
        border: none;
    }

    .second-button {
        display: inline-block;
        padding-left: 43.14%;
    }
    
    .first-paragraph p::after {
        content: "";
        position: absolute;
        left: 48.35%;
        height: 0.142%;
        width: 4.5%;
        background-color: black;
    }

    .lista4 {
        margin-left: 10.28%;
    }
}