.fourth-title{
    font-size: 30px;
    padding-left: 150px;
}

.fourth-content{
    background-color: #f3f4f5;
}

.border3{
    border: 1px solid black;
    width: 40px;
    margin-top:35px ;
    margin-bottom: 35px ;
    padding-right: 40px;
    margin-left:150px ;
}