.background-gray{
    background-color: #f3f4f5;
}

.title-footer h2::after{
    content: "";
    position: absolute;
    left: 0;
    top: 149px;
    height: 3px;
    width: 4.5%;
    background-color: black;
} 

.background-gentleman{
    float: left;
    margin-bottom: 6.42%;
    width: 43%;
}

.background-gentleman:hover{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    .buy{
        display: inline;
    }
    .share{
        display: inline;
    }
}

.background-gentleman p{
    color: white;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    padding-top: 24.42%;
    margin-bottom: 1.42%;
}

.background-gentleman a{
    display: none;
}

.ancords-footer{
    padding-top: 20.42%;
    padding-bottom: 11%;
}
.buy{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    padding-left: 6.71%;
}

.share{
    color: white;
    text-decoration: none;
    font-size: 0.9375rem;
    padding-left: 55%;;
}

.tres-images{
    width: 50%;
    float: right;
    margin-bottom: 13.071%;
}

.mountain-p1{
    color: black;
    font-size: 2.25rem;
    padding-left: 4%;
    padding-top: 14.5%;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.mountain-p2{
    color: black;
    font-size: 1.25rem;
    padding-left: 4%;
    padding-bottom: 17.57%;
    margin-bottom: 3.42%;
}

.coffe{
    float: left;
    width: 44%;
}

.mountain-men:hover{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.coffe p{
    font-size: 1.875rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 188px;
}

.golden{
    float: right;
    width: 44%;
}

.coffe:hover{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.golden:hover{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.golden-content{
    padding-top: 8.35%;
    padding-bottom: 49.28%
}

.golden-p1{
    font-size: 1.875rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom:0;
}

.golden-p2{
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top:0;
}

.button-4{
    display: inline-block;
    padding-bottom: 10.75%;
}

.browse:hover{
    border: none;
    color: black;
    border-bottom: 3px solid black;
}

.button-4 a{
    text-decoration: none;
    color: black;
    padding: 17px 31px 17px 31px;
    border: 3px solid black;
    font-weight: bold;
    letter-spacing: 2px;
}


.footer-list{
    margin-top: 4.14%;
}

.lista1{
    float: left;
}

.lista1 ul{
    padding:0;
}

.lista1 li{
    color: gray;
    list-style: none;
    line-height: 1.68rem;
    font-size: 1.25rem;
}

.lista2{
    float: left;
    margin-left: 16.28%;
}

.lista2 ul{
    padding:0;
}

.lista2 li{
    color: gray;
    list-style: none;
    line-height: 1.68rem;
    font-size: 1.25rem;
}

.lista3{
    float: left;
    margin-left: 16.28%;
}

.lista3 p{
    color: gray;
    line-height: 1.68rem;
    font-size: 1.25rem;
}
.lista4{
    float: left;
    margin-left: 16.28%;;
}

.last-button{
    text-decoration: none;
    color: black;
    padding: 6px 16px 6px 16px;
    border: 3px solid black;
    font-weight: bold;
    letter-spacing: 0.125rem;
}

.last-button:hover{
    border: none;
    color: black;
    border-bottom: 3px solid black;
}

input{
    background-color: #f3f4f5;
    color:#c9c7c2 ;
    border: none;
    width: 246px;
    padding: 8px 0 8px 18px;
}

.footer-button{
    margin-top: 12%;
}

.footer-list h3{
    font-size: 1.25rem;
}

.lista4 p{
    color: gray;
    line-height: 2.28rem;
    font-size: 1.25rem;
}


.last-part{
    background-color:#f3f4f5;
}

.last-parrafo{
    float: left;
    color: #a3a29c;
}

.logos-footer{
    float: right;
    padding-top: 0.71%;
}

.logos-footer img + img{
    padding-right: 4px;
    padding-left: 4px;
}
