.clearfix::after {
    content: "";
    clear: both;
    display: table; 
}
.wrapper-grande{
    max-width: 1600px;
    margin: 0 auto;
}
.wrapper-peque{
    max-width: 1400px;
    margin: 0 auto;
}
.bear-background{
    background-image: url(../images/1.jpg);
    @include Background
}

.background-hands{
    background-image: url(../images/3.jpg);
    @include Background
}