.first-background-img{
    background-image: url("../images/1.jpg");
    @include Background;
}
.scnd-background-img{
    background-image: url("../images/3.jpg");
    @include Background;
}
.background-gentleman{
    background-image: url("../images/4.jpg");
    @include Background;
}
.background-mountain-men{
    background-image: url("../images/5.jpg");
    @include Background;
}
.background-coffe{
    background-image: url("../images/6.jpg");
    @include Background;
}
.background-sunglases{
    background-image: url("../images/7.jpg");
    @include Background;
}