/*font-family: 'Montserrat', sans-serif;
font-family:'Raleway', sans-serif;
font-family:'Raleway', sans-serif;*/
.bear-background{
    position: relative;
}
.header-quotes{
    padding-top: 68px;
    margin-left: 200px;
}
.header-quotes a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header-menu{
    position: absolute;
    top: 75px;
    right: 192px;
}
.header-menu a{
    text-decoration: none;
    color: white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-title{
    color: white;
    font-family:'Raleway', sans-serif;
    padding-left: 656px;
    padding-top: 244px;
    text-align: center;
    padding-right: 133px;
}

.header-title h1{
    font-size: 184px;
    font-weight: lighter;
    margin: 0;
}
.header-title p{
    font-weight: 900;
    font-size: 83px;
    margin: 0;
}

.puntos{
    color: black;
    font-size: 144px;
    text-align: center;
    margin-top: 90px;
    padding-bottom: 93px;
    margin-bottom: 71px;
}

.puntos span{
    color: white;
}

.first-info{
    text-align: center;
    position: relative;
}

.first-h2{
    font-family:'Raleway', sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
}

.second-h2{
    font-weight: bold;
    color: black;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 25px;
}

.first-paragraph{
    font-weight: bold;
    font-size: 20px;
}

.first-paragraph p{
    padding-bottom: 30px;
}

.second-paragraph{
    font-size: 20px;
}

.third-paragraph{
    font-size: 20px;
}
.first-paragraph p::after {
    content: "";
    position: absolute;
    left:  679px;
    top: 242px;
    height: 2px;
    width: 63px;
    background-color: black;
}