.content-2{
    padding-bottom: 95px;
    margin: 0 auto;
    margin-top: 56px;
}
.content-2-box{
    background-color: #ffeae2;
    float: left;
    width: 800px;
    height: 649px;
}
.p-1{
    font-size: 36px;
    font-weight: bold;
    width: 557px;
    margin-left: 117px;
    margin-top: 113px;
}
.p-2{
    font-weight: 100;
    margin: 0px;
    font-size: 36px;
    margin-left: 115px;
    padding-top: 6px;
    margin-bottom: 20px;
}
.content-2-img{
    background-image: url("../images/2.jpg");
    background-size: cover;;
    float: left;
    width: 797px;
    height: 650px;
}

.puntos2{
    margin-left: 108px;
    font-size: 72px;
    color: #d6ae9f;
    margin-top: 0;
}

.puntos2 span{
    color: black;
}

.wrapper-peque{
    position: relative;
}
.wrapper-peque h2{
    font-size: 60px;  
}

.wrapper-peque h3{
    font-size: 30px;
}

.wrapper-peque p{
    font-size: 20px;
}

.first-p{
    margin-bottom: 40px;
}

.parrafo-1{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
}

.parrafo-2{
    padding-top: 4px;
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
}

.parrafo-3{
    padding-bottom: 18px;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    padding-left: 121px;
}

.parrafo-4{
    padding-left: 121px;
    border-bottom: 3px solid gray;
    padding-bottom: 26px;
}

.parrafo-3 p{
    margin: 0;
}

.happy::after{
    content: "";
    position: absolute;
    left: 0;
    top: 72px;
    height: 2px;
    width: 63px;
    background-color: black;
} 

.column-1{
    float: left;
    padding-left: 73px;
    width: 645px;
    margin-bottom: 47px;
}

.column-2{
    float: right;
    width: 682px;
    margin-bottom: 61px;
}

.second-button {
    display: inline-block;
    padding-left: 618px;
}

.second-button a{
    text-decoration: none;
    color: black;
    padding: 9px 31px 9px 31px;;
    border: 3px solid black;
    font-weight: bold;
    letter-spacing: 2px;
}

.content-hands{
    text-align: center;
}

.hands-p1{
    font-size: 60px;
    color: white;
    font-weight: bolder;
    padding-top: 200px;
}

.hands-p2{
    color: white;
    font-size: 20px;
    padding-bottom: 166px;
}

.hands-p2 a{
    color: white;
    font-size: 20px;
}